#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV 1
#define SYM 2
#define UTIL 3

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };
  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BACKSPACE &hm LCTRL ESCAPE &hm LCTRL A &hm LSHFT S &hm LALT D &hm LGUI F &kp G &kp H &hm RGUI J &hm RALT K &hm RSHFT L &hm RCTRL SEMICOLON &kp SINGLE_QUOTE &kp LEFT_SHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH &kp BACKSLASH &mo SYM &mo NAV &kp RETURN &kp SPACE &kp BACKSPACE &mo UTIL 
      >;
    };

    nav_layer {
      bindings = <
        &none &none &none &none &none &none &kp PG_UP &kp HOME &kp UP &kp END &none &none &none &none &none &none &none &none &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none 
      >;
    };

    sym_layer {
      bindings = <
        &none &none &none &none &none &none &kp ASTERISK &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp PLUS &none &none &none &none &none &none &none &kp SLASH &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp MINUS &none &none &none &none &none &none &none &kp UNDERSCORE &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp EQUAL &none &none &none &none &none &none &kp NUMBER_0 
      >;
    };

    util_layer {
      bindings = <
        &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none 
      >;
    };
  };
};